#fullpage.no-scroll {
	overflow-y: hidden;
	max-height: 100vh;
}

.section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section.one {
	background-image: url(../assets/images/solutions-scroll/Placeholder_Image_1.jpg);
}

.section.two {
	background-image: url(../assets/images/solutions-scroll/Placeholder_Image_2.jpg);
}

.section.three {
	background-image: url(../assets/images/solutions-scroll/Placeholder_Image_3.jpg);
}

.section.four {
	background-image: url(../assets/images/solutions-scroll/Placeholder_Image_4.jpg);
}

.section.five {
	background-image: url(../assets/images/solutions-scroll/4.jpg);
}

.section.six {
	background-image: url(../assets/images/solutions-scroll/5.jpg);
}

.section.seven {
	background-image: url(../assets/images/solutions-scroll/6.jpg);
}

.section__content {
	position: absolute;
	/* top: 20%; */
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	text-transform: capitalize;
	color: var(--primary-color);
}

.section__content__title {
	/* font-size: 4rem; */
	/* font-size: 62px !important; */
	font-size: 42px !important;
	font-weight: normal;
	margin-top: 9rem;
	margin-bottom: 0.5rem;
}

.section__content__subtitle {
	/* font-size: 1.5rem; */
	font-size: 21px;
	/* font-weight: 500; */
	/* font-size: 2rem;
	font-weight: 500; */
}

.section__content__subtitle a {
	color: inherit;
}

.section__content__subtitle a:hover {
	text-decoration: underline;
}

.section__action__container {
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section__action__btn {
	/* font-size: 1.5rem; */
	font-size: 1rem;
	/* font-weight: 500; */
	padding: 1rem;
	/* border-radius: 2rem; */
	border-radius: 0;
	flex-basis: 80%;
	margin-bottom: 1rem;
	text-transform: capitalize;
}

/*
.action__btn__primary {
	background: rgba(23, 26, 42, 0.8);
	color: white;
}

.action__btn__secondary {
	background: rgba(255, 255, 255, 0.65);
	color: var(--primary-color);
}
*/

.action__btn__primary {
	background: rgba(44,127,204,1);
	color: white;
}

.action__btn__secondary {
	background: rgba(72,178,206,1);
	color: var(--primary-color);
}

.action__btn__primary:hover {
  background: linear-gradient(90deg, rgba(44,127,204,1) 0%, rgba(72,178,206,1) 100%); 
	color: white;
	text-decoration: none;
}

.action__btn__secondary:hover {
	background: linear-gradient(90deg, rgba(44,127,204,1) 0%, rgba(72,178,206,1) 100%); 
	color: var(--primary-color);
	text-decoration: none;
}
